.bloglist {
  margin: 20vh;
  text-align: center;
}

.bloglist h1 {
  font-family: cursive;
  font-size: 10vh;
}

.blogfile label {
  font-size: 30px;
}
.blogfile {
  padding-left: 20px;
}

.indblog {
  padding: 20px;
  width: 100%;
  border: 1px solid grey;
  margin-bottom: 40px;
}

.detailblog {
  background-size: cover;
  background-position: center;
  background-color: rgb(26, 31, 41);
  background-blend-mode: soft-light;
  justify-content: center;
  margin: 17vh;
  width: 80%;
  border-radius: 40px;
  border-width: 3px;
}

.indblog category {
  color: gold;
  font-weight: bold;
}

.date {
  font-style: italic;
  margin-top: 10vh;
}

.date2 {
  font-style: italic;
  margin-top: 1vh;
}

.indblog a {
  color: cyan;
  font-weight: bold;
}

.indblog label {
  font-weight: 600;
  font-size: 30px;
}

.subtitle {
  padding-bottom: 70px;
  font-size: large;
  width: 100%;
  /* max-height: 5%; */
  text-align: start;
  overflow-wrap: break-word;
}

.post {
  font-size: large;
  width: 160%;
  text-align: start;
  overflow-wrap: break-word;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.sideData {
  margin-left: 20vh;
  /* padding: 5vh; */
  width: 50%;
}

* {
  padding: 0;
  margin: 0;
}
