.bloglist {
  margin: 20vh;
  text-align: center;
}

.bloglist h1 {
  font-family: cursive;
  font-size: 10vh;
}

.blogfile label {
  font-size: 30px;
}
.blogfile {
  padding-left: 20px;
}

.indblog {
  padding: 20px;
  width: 100%;
  border: 1px solid grey;
  margin-bottom: 40px;
}

.indblog category {
  color: gold;
  font-weight: bold;
  margin-bottom: 10vh;
}

.date {
  font-style: italic;
  margin-top: 10vh;
}

.indblog a {
  color: cyan;
  font-weight: bold;
}

.indblog label {
  font-weight: 600;
}
.subtitle {
  padding: 10px;
  font-size: large;
  width: 20%;
}

.sideData {
  margin-left: 20vh;
  /* padding: 5vh; */
  width: 50%;
}

* {
  padding: 0;
  margin: 0;
}
